.logo-css:hover{
    .mouse-over{
        animation: pulse 2s infinite;
    }
}




@keyframes pulse {
  0% {
    width: 28px;
    height: 28px;
  }
  50% {
    width: 23px;
    height: 23px;
  }
  100% {
    width: 28px;
    height: 28px;
  }
}