<div class="card">

    <header class="bg-white shadow">
        <p-toolbar styleClass="bg-gray-900 shadow-2"
            [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
            <ng-template pTemplate="start">
                <img routerLink="/" src="assets/images/logo-rectificado-rapido.png" alt="Icono Rectificado Rapido"
                    [style]="{'width': '50px', 'heigth': 'auto'}" />
            </ng-template>
            <ng-template pTemplate="center">
                <div class="flex flex-wrap align-items-center gap-3">
                    <button routerLink="/"
                        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-home text-2xl"></i>
                    </button>
                    <button routerLink="/configuracion"
                        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-cog text-2xl"></i>
                    </button>
                    <!-- Botones existentes -->
                    <button (click)="toggleSearch()"
                        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-search text-2xl"></i>
                    </button>
                    <!-- Campo de búsqueda -->
                    @if(showSearch){
                    <input type="search" pInputText placeholder="Buscar..." class="p-inputtext p-component p-element" />
                    }
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex align-items-center gap-2">
                    <p-avatar image="assets/images/avatar-julio-jr.jpg" shape="circle" />
                    <span class="font-bold text-bluegray-50">
                        Julio Diaz
                    </span>
                </div>
            </ng-template>
        </p-toolbar>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900">{{title}}</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>