<main class="flex-grow p-4 overflow-y-auto">
    <div class="text-center">
        <h1 class="text-xl sm:text-2xl font-bold mb-4">¡Bienvenido al Panel de Administración del Taller!</h1>
        <p class="text-base sm:text-lg mb-4">Desde aquí, puedes gestionar todos los aspectos de tu taller de autos.</p>
        <p class="text-base sm:text-lg mb-4">Utiliza la barra de navegación lateral para acceder a las diferentes
            secciones del panel de administración.</p>
        <img class="mx-auto h-64 sm:h-96 w-auto" src="assets/images/bienvenida.jpg" alt="Imagen de Bienvenida">
    </div>
</main>